html
 head
 link(rel="stylesheet" type="text/css" href="dashboard/dashboard.css")
 body(class='paperContent')
  h1(class="questionPaperTitleInPreview") #{title}
  ol
   each question,index in questions
    div(class='notes') !{notes[index]}
    li
     question !{question.question.replace('<code>','<pre><code>').replace('</code>','</pre></code>')}
    div !{notes[index]}
    li
     question !{question.question.replace('<code>','<pre><code>').replace('</code>','</pre></code>')}
   each key in Object.keys(notes)
    if(key>=questions.length)
     div !{notes[key]}
