each question,index in questions
 div(id="#{index}_noteHolder")
  if(notes[index])
   div(class="notesPlaceHolder")
    div(id='#{index}' class='removeNote') ✖
    textarea(id='#{index}' class='form-control noteText') #{notes[index]}
 div(class="well input-group input-group-lg" style="float:left" ,id="selectedQuestion")
  div(class="questionHeader")
   if(notes[index])
    div(id= "#{index}" class="addNote" style="display: none;") Add note
   else
     div(id= "#{index}" class="addNote") Add note
   div(id= "#{question.id}" class="remove")  ✖
  | !{question.question.replace('<code>','<pre><code>').replace('</code>','</pre></code>')}
if(notes)
 each key in Object.keys(notes)
  if(key>=questions.length)
   div(id="#{key}_noteHolder")
    div(class="notesPlaceHolder")
     div(id='#{key}' class='removeNote') ✖
     textarea(id='#{key}' class='form-control noteText') #{notes[key]}
