each question,index in questions
 if(notes[index])
  button(id= "#{index}" class="addNote btn btn-default" style="display: none;"  )
    span(class="glyphicon glyphicon-plus" aria-hidden="true")
 else
  button(id= "#{index}" class="addNote btn btn-default" )
   span(class="glyphicon glyphicon-plus plusButton" aria-hidden="true")

 div(id="#{index}_noteHolder")
  if(notes[index])
   div(class="notesPlaceHolder")
    div(id='#{index}' class='removeNote') ✖
    textarea(id='#{index}' class='form-control noteText') #{notes[index]}
 div(class="well input-group input-group-lg" style="float:left" ,id="selectedQuestion")
  div(class="questionHeader")
   div(id= "#{question.id}" class="remove")  ✖
  div(class="questionAndNumberContainer")
   div(class= "question_no_container") #{index+1}
    input(type="checkbox" name='#{index}' id='#{index}question')
   div(class="question_box")
    | !{question.question.replace('<code>','<pre><code>').replace('</code>','</pre></code>')}
if(notes)
 each key in Object.keys(notes)
  if(key>=questions.length)
   div(id="#{key}_noteHolder")
    div(class="notesPlaceHolder")
     div(id='#{key}' class='removeNote') ✖
     textarea(id='#{key}' class='form-control noteText') #{notes[key]}
